.modal{
    --bs-modal-bg: white;
}

.modal-content{
    border-radius: 1rem;
    border: none;
}

.modal-header{
    justify-content: center;
    border-bottom: none;
}

.modal-title{
    font-family: 'Monofett', cursive !important;
    margin: auto auto;
    text-align: center;
    font-family: cursive;
    font-size: 5rem;
    color: black !important;
    width: 100%;
  }

.modal-body{
    font-family: 'Nunito', sans-serif;
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 2rem;
}

#losPapas img{
    max-width: 35rem;
}

.papasDiv{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
}

.papas{
    transform: rotate(var(--ang));
    border-radius: 1rem;
}

.rad-img{
    max-width: none;
}


.carousel-caption{
    display: flex;
    justify-content: center;
}

.carousel-caption h5{
    font-size: 1.5rem;
    color: white;
    background: #070707;
    border-radius: 1rem;
    padding: 0.75rem;
    text-transform: uppercase;
}

.carousel-indicators{
    background: black;
    width: fit-content;
    margin: 1rem auto;
    padding: .25rem;
    border-radius: 1rem;
}

/* .carousel-indicators [data-bs-target]{
    background-color: aqua;
} */

.carousel-control-next-icon, .carousel-control-prev-icon{
    font-size: 1.5rem;
    color: white;
    background: #070707;
    border-radius: 0.25rem;
    padding: 0.75rem;
    text-transform: uppercase;
    width: fit-content;
    height: fit-content;
}
  