.modal-content{
    border-radius: 1rem;
}

.modal-header{
    justify-content: center;
    border-bottom: none;
}

.modal-title{
    font-family: 'Monofett', cursive !important;
    margin: auto auto;
    text-align: center;
    font-family: cursive;
    font-size: 5rem;
    color: black !important;
    width: 100%;
  }

.modal-body{
    font-family: 'Nunito', sans-serif;
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 2rem;
}

.modal-body img{
    max-width: 35rem;
}

.papasDiv{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
}

.papas{
    transform: rotate(var(--ang));
    border-radius: 1rem;
}
  