/* You can add global styles to this file, and also import other style files */
/** Box Model All HTML elements**/
$backgorund-main: #fae4db;
$backgorund-second: #d0ab90ea;
$main-text: #754b32;
$main-second: #98735D;
$color-hover: #ffb286;
$stars-color: #c59879;
$general-color: #98603b;
$header-color: #d0aa8e;
$lines-color: #eed8c9e1;
$emotion-color: #c29e83;
html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* 1rem = 10px */
  //padding: 1rem;
  scroll-behavior: smooth;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  line-height: 1.5;
  /* background-color: #fffdec; */
  background-image: linear-gradient(to right, $backgorund-main 70%,$backgorund-second 70%,$backgorund-second 100%);
  color: $general-color;
  height: 100%;
}

a {
  text-decoration: none;
  color: $main-second;
}
a:hover{
  color: $color-hover;
}

img {
  margin: auto auto;
  width: 100%;
  max-width: 20rem;
  min-width: 8rem;
}

i {
  //color: #646464;
  font-size: 1.75rem;
}

.click{
  cursor: pointer;
}
.click:hover{
  color: $color-hover;
}

.to-click{
  position: relative;
  right: 10px;
  top: -15px;
  transform: rotate(-135deg);
  display: inline-block;
  margin-right: -1rem;
  font-size: 1.5rem;
}

.general{
  display: grid;
  grid-template-columns: 7fr 3fr;
  height: 100%;
}

.main{
  display: grid;
  grid-template-rows: auto 30rem;
}

.stars{
  display: grid;
  grid-template-columns: repeat(1,1fr 1fr 1fr);
  grid-template-rows: repeat(12,1fr);
}

.ib-star-full{
  font-size: 1.75rem;
  color: $stars-color;
  position: relative;
  height: 1.25rem;
  width: 1.25rem;
}

.main-info{
  display: grid;
  min-height: 45rem;
  gap: 1rem;
  position: relative;
  z-index: 750;
}

.main-title {
  font-family: 'Courgette', cursive;
  text-shadow: -2px -2px 1px #835314;
  margin: 1rem auto;
  text-align: center;
  font-size: 8rem;
  color: $header-color;
  font-weight: 700;
}

.intro{
    margin: 0 1.5rem;
    font-family: 'Nunito', sans-serif;
    color: $main-text;
    font-size: 3rem;
    text-align: center;
    align-self: center;
}

.emotion{
  justify-self: center;
  align-self: center;
  color: $emotion-color;
  font-size: 3rem;
}

.general-info {
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin: auto;
}

.div-icon {
  display: grid;
  border-radius: 50%;
  background-color: $backgorund-second;
  padding: 1rem;
  margin: 1rem;
  height: fit-content;
}

.data {
  display: flex;
  width: 100%;
  //justify-content: center;
}

.info{
  margin: auto 0;
  color: $main-second;
  font-size: 2.5rem;
  //text-align: center;
}

.v-line{
  position: absolute;
  border-left: 1px solid $lines-color;
  height:100%;
  z-index: -1055;
}

.footer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 142%;
  align-content: end;
  position: relative;

}

.icon-baby-div{
  align-self: center;
  justify-self: center;
  margin: -1rem;
}

.ib-baby{
  justify-content: center;
  font-size: 4.5rem;
}

.osito-img{
  display: flex;
  max-width: none;
  z-index: 750;
  margin: 0;
  justify-self: center;
}


.globos-img{
  display: flex;
  justify-content: end;
  align-content: end;
  max-width: 15rem;
}

.gift-foot{
  position: absolute;
  display: grid;
  width: 70vw;
  align-content: end;
  justify-content: start;
}

@media screen and (min-width: 850px){
  .stars{
    justify-items: center;
  }
  .main{
    grid-template-rows: auto 38rem;
  }
}

@media only screen and (max-width: 1000px) {
  img{
    max-width: 11rem;
  }
  .main-title {
    font-size: 6rem;
  }
  .intro, .emotion{
    font-size: 2.5rem;
  }
  .info{
    font-size: 2.25rem;
  }
}

@media only screen and (max-width: 600px) {
  img{
    max-width: 8rem;
  }
  .main-title {
    font-size: 3.75rem;
  }
  .intro, .emotion{
    font-size: 1.75rem;
  }
  .info{
    font-size: 1.5rem;
  }
}