/* You can add global styles to this file, and also import other style files */
/** Box Model All HTML elements**/
html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* 1rem = 10px */
  scroll-behavior: smooth;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  line-height: 1;
  background-image: linear-gradient(to right, #C6E3DF 70%, #C6E3DF 70%, #C6E3DF 100%);
  height: 100%;
}

a {
  text-decoration: none;
  color: #997253;
}

a:hover {
  color: #ff9886;
}

img {
  margin: auto auto;
  width: 100%;
  max-width: 20rem;
  min-width: 8rem;
}

i {
  font-size: 3.5rem;
}

.click {
  cursor: pointer;
}

.click:hover {
  color: #ff9886;
}

.to-click {
  position: relative;
  right: 10px;
  top: -15px;
  transform: rotate(-135deg);
  display: inline-block;
  margin-right: -1rem;
  font-size: 1.5rem;
}

.general {
  display: grid;
  height: 100%;
  padding: 3rem;
}

.main {
  background: white;
  display: flex;
  flex-direction: column;
  border-radius: 3rem;
}

.main-info {
  display: flex;
  flex-direction: column;
  min-height: 45rem;
  gap: 1rem;
  position: relative;
  z-index: 750;
}

.main-title {
  text-transform: uppercase;
  font-family: cursive;
  margin: 1rem auto;
  font-weight: 700;
  width: 100%;
  text-align: center;
}

.main-title span:nth-child(1) {
  display: block;
  font-size: 10rem;
  color: #F5BDA9;
}

.main-title span:nth-child(2) {
  display: block;
  color: #E9C9BC;
  font-size: 7rem;
  margin-left: 8rem;
}

.intro {
  margin: 0 20rem;
  color: #8FBAB2;
  font-size: 3rem;
  text-align: center;
  align-self: center;
  font-style: italic;
}

.general-info {
  display: flex;
  justify-content: center;
  margin-left: 6rem;
}

.div-icon {
  display: grid;
  border-radius: 50%;
  background-color: #C6E3DF;
  padding: 1rem;
  margin: 1rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.date {
  color: #997253;
  font-size: 5rem;
  height: 100%;
  border-right: 2px solid #9A7181;
  display: flex;
  justify-self: center;
  align-self: center;
  color: #F5BDA9;
  font-weight: 700;
  padding-right: 1rem;
}

.data {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  padding: 0.5rem;
  color: #9E724D;
}

.data:nth-child(1) {
  border-bottom: 2.75px solid #9A7181;
  width: 95%;
}

.info {
  font-weight: 650;
  font-size: 3rem;
}

.hour-address {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: start;
}

.icon-baby-div {
  align-self: center;
  justify-self: center;
  margin: 1rem;
  color: #F6DFE2;
}

.ib-baby {
  justify-content: center;
  font-size: 5.5rem;
}

.footer {
  position: relative;
  bottom: -4.5rem;
  display: flex;
  justify-content: end;
  left: 2.5rem;
}

.flores-img {
  position: fixed;
  bottom: 0;
  left: -1rem;
  width: 30%;
  max-width: none;
}

.osito-img {
  max-width: none;
  width: 40%;
  margin: 0;
}

@media only screen and (max-width: 1500px) {
  .flores-img {
    width: 40%;
  }
}
@media only screen and (max-width: 1000px) {
  i {
    font-size: 2.5rem;
  }
  img {
    max-width: 11rem;
  }
  .main-title {
    font-size: 6rem;
  }
  .intro {
    font-size: 2.5rem;
    margin: 0 13rem;
  }
  .info {
    font-size: 2.25rem;
  }
  .flores-img {
    width: 60%;
  }
  .osito-img {
    width: 45%;
  }
}
@media only screen and (max-width: 600px) {
  .main-title span:nth-child(1) {
    font-size: 7rem;
  }
  .main-title span:nth-child(2) {
    font-size: 4rem;
  }
  img {
    max-width: 8rem;
  }
  .main-title {
    font-size: 3.75rem;
  }
  .intro {
    font-size: 1.6rem;
    margin: 0 2rem;
  }
  .info {
    font-size: 1.5rem;
  }
  .flores-img, .osito-img {
    width: 75%;
  }
}/*# sourceMappingURL=styles.css.map */