/* You can add global styles to this file, and also import other style files */
/** Box Model All HTML elements**/
html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* 1rem = 10px */
  scroll-behavior: smooth;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 900;
  line-height: 1.5;
  /* background-color: #fffdec; */
  background-image: linear-gradient(to right, #FBE4D6 70%, #D0AB90 70%, #D0AB90 100%);
  color: #98603B;
  height: 100%;
}

a {
  text-decoration: none;
  color: rgba(117, 75, 50, 0.7411764706);
}

a:hover {
  color: #FFBF86;
}

img {
  margin: auto auto;
  width: 100%;
  max-width: 20rem;
  min-width: 8rem;
}

i {
  font-size: 1.75rem;
}

.click {
  cursor: pointer;
}

.click:hover {
  color: #FFBF86;
}

.to-click {
  position: relative;
  right: 10px;
  top: -15px;
  transform: rotate(-135deg);
  display: inline-block;
  margin-right: -1rem;
}

.general {
  display: grid;
  grid-template-columns: 7fr 3fr;
  height: 100%;
}

.stars {
  display: grid;
  grid-template-columns: repeat(1, 1fr 1fr 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.ib-star-full {
  font-size: 1.75rem;
  color: #C59879;
  position: relative;
  height: 1.25rem;
  width: 1.25rem;
}

.main-info {
  display: grid;
}

.main-title {
  font-family: "Courgette", cursive;
  text-shadow: -2px -2px 1px #835314;
  margin: 1rem auto;
  text-align: center;
  font-size: 8rem;
  color: #D0AA8E;
  font-weight: 700;
}

.intro {
  margin: 0em 1.5rem;
  font-family: "Nunito", sans-serif;
  color: #754B32;
  font-size: 3rem;
  text-align: center;
  align-self: center;
}

.emotion {
  justify-self: center;
  align-self: center;
  color: #C29E83;
  font-size: 3rem;
  margin: 1rem auto;
}

.general-info {
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin: auto;
}

.div-icon {
  display: grid;
  border-radius: 50%;
  background-color: #D0AB90;
  padding: 1rem;
  margin: 1rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.data {
  display: flex;
  width: 100%;
}

.info {
  margin: auto 0;
  color: rgba(117, 75, 50, 0.7411764706);
  font-size: 2.5rem;
}

.v-line {
  position: absolute;
  border-left: 1px solid #f7dac7;
  height: 100%;
  z-index: -1055;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 1rem;
}

.icon-baby-div {
  margin-left: 2rem;
  align-self: end;
}

.ib-baby {
  justify-content: center;
  font-size: 5rem;
}

.osito-div {
  display: grid;
  align-content: end;
  justify-content: center;
  position: relative;
  z-index: 750;
  width: 175%;
}

.osito-img {
  position: relative;
  max-width: 28rem;
}

.gift-icon {
  align-self: center;
  justify-self: center;
  width: 100%;
}

.ib-gift {
  font-size: 8rem;
  color: #FFBF86;
  text-align: center;
  display: block;
}

@media only screen and (max-width: 1000px) {
  img {
    max-width: 11rem;
  }

  .main-title {
    font-size: 6rem;
  }

  .intro, .emotion {
    font-size: 2.5rem;
  }

  .info {
    font-size: 2.25rem;
  }

  .ib-gift {
    font-size: 6rem;
  }
}
@media only screen and (max-width: 600px) {
  img {
    max-width: 8rem;
  }

  .header {
    grid-template-columns: 1fr;
  }

  .main-title {
    font-size: 3.75rem;
  }

  .intro, .emotion {
    font-size: 1.75rem;
  }

  .info {
    font-size: 1.5rem;
  }

  .ib-gift {
    font-size: 4rem;
  }

  .header-img2 {
    margin-top: 1rem;
  }
}/*# sourceMappingURL=styles.css.map */